<div
  id="{{ section.settings.form_15_unique_id }}"
  class="form-block-wrapper form-block-15 flex-block flex-with-iframe"
  style="display: none;"
>
  <div class="left-block">
    <div class="left-block-box">
      <div class="block-num">15</div>
      <div class="content-box">
        <p class="ques-text content-heading">
          {{ section.settings.form_15_question }}
        </p>
        <div class="sub-text content-desc">
          {{ section.settings.form_15_question_description }}
        </div>
      </div>
    </div>
  </div>
  <div class="right-block">
    <div class="img-box">
      {{ section.settings.form_15_calender }}
    </div>
  </div>
</div>
